.first-row {
    background-color: #f5f5f5;
    font-weight: 700
}

.el-table th.el-table__cell {
    background-color: #022d6e !important;
    color: #f5f5f5;
    text-align: center
}

.el-table thead {
    color: #03070f
}

.el-table tr {
    background-color: #e0def4
}

.box2 {
    border: 1px dashed #8b8d90;
    display: inline-flex;
    border-radius: 15px
}

.box2,
.box3 {
    margin-block: 20px;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    padding: 10px
}

.box3 {
    border: 2px dashed #8b8d90;
    border-radius: 15px
}

.box1 {
    margin-block: 10px
}

.el-input__inner,
.el-select .el-input__inner {
    height: 28px;
    line-height: 28px
}

.el-table__footer-wrapper,
.el-table__header-wrapper {
    font-size: 10px;
}

.el-table th.el-table__cell>.cell {
    white-space: pre-line;
    padding-inline: 3px !important
}

.el-table .color1 {
    background: green !important;
    color: #fff
}

.el-table .color2 {
    background: #80ff80 !important
}

.el-table .color3 {
    background: #ffff80 !important
}

.el-table .color4 {
    background: #ff8000 !important
}

.el-table .color5 {
    background: red !important;
    color: #fff
}

.hader_box {
    text-align: center;
    width: 500px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .24);
    display: block;
    margin: 0 auto 20px auto
}

body {
    width: 100%;
    height: auto !important;
    overflow-x: hidden
}

.btn_sub {
    width: 100%;
    font-size: x-small !important;
    padding-inline: 0 !important
}

.btn_height {
    display: flex;
    flex-direction: column
}

.color_w {
    width: 90px;
    height: 50px;
    display: flex;
    color: #000;
    align-items: center;
    justify-content: center
}

#app,
.color_w {
    text-align: center
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px
}